<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <% if @users.count > 0 %>
        <th></th>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
        <% @users.each do |user| %>
        <tbody>
          <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
          <td><%= user.name %></td>
          <td>フォロー数 : <%= user.followings.count %></td>
          <td>フォロワー数 : <%= user.followers.count %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tbody>
        <% end %>
      <% else %>
          <td>ユーザーはいません</td>
      <% end %>
    </tr>
  </thead>
 </table>